@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@plugin 'daisyui';

/* ================= CUSTOM CSS START ================= */
@import './table.css';
@import './select.css';
@import './select2.css';
/* ================= CUSTOM CSS END =================*/

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    /* Base Colors */
    --color-black: #000000;
    --color-white: #ffffff;

    /* Primary: Orange */
    --color-primary-50: #fff7ec;
    --color-primary-100: #ffeeda;
    --color-primary-200: #ffdcb5;
    --color-primary-300: #ffc98a;
    --color-primary-400: #ffb561;
    --color-primary-500: #ff9e33;
    /* main accent */
    --color-primary-600: #e9851e;
    --color-primary-700: #cc6a10;
    --color-primary-800: #a8540b;
    --color-primary-900: #703808;
    --color-primary-950: #3b1e04;

    /* Accent Colors */
    --color-accent-light: var(--color-primary-500);
    --color-accent-content-light: var(--color-primary-700);
    --color-accent-foreground-light: #fffaf5;

    --color-accent-dark: var(--color-primary-400);
    --color-accent-content-dark: var(--color-primary-800);
    --color-accent-foreground-dark: #1a1a1a;

    /* Text Colors */
    --color-text-primary-light: #2c2418;
    --color-text-secondary-light: #5e4f3d;
    --color-text-muted-light: #8b7a67;

    --color-text-primary-dark: #f2ede8;
    --color-text-secondary-dark: #c8bfb4;
    --color-text-muted-dark: #9b9186;

    /* Backgrounds */
    --color-bg-primary-light: oklch(96.115% 0.00011 271.152);
    --color-bg-secondary-light: oklch(92.494% 0.00011 271.152);
    --color-bg-tertiary-light: oklch(88.531% 0.0001 271.152);

    --color-bg-primary-dark: oklch(15.907% 0.00002 271.152);
    --color-bg-secondary-dark: oklch(21.779% 0.00002 271.152);
    --color-bg-tertiary-dark: oklch(26.862% 0.00003 271.152);
}

@theme {
    /* ======================================================
    	 	 	 	 	 	 # Colors
    ======================================================== */
    --color-zinc-50: var(--color-primary-50);
    --color-zinc-100: var(--color-primary-100);
    --color-zinc-200: var(--color-primary-200);
    --color-zinc-300: var(--color-primary-300);
    --color-zinc-400: var(--color-primary-400);
    --color-zinc-500: var(--color-primary-500);
    --color-zinc-600: var(--color-primary-600);
    --color-zinc-700: var(--color-primary-700);
    --color-zinc-800: var(--color-primary-800);
    --color-zinc-900: var(--color-primary-900);
    --color-zinc-950: var(--color-primary-950);

    --color-accent: var(--color-accent-light);
    --color-accent-content: var(--color-accent-content-light);
    --color-accent-foreground: var(--color-accent-foreground-light);

    --color-text-primary: var(--color-text-primary-light);
    --color-text-secondary: var(--color-text-secondary-light);
    --color-text-muted: var(--color-text-muted-light);

    --color-bg-primary: var(--color-bg-primary-light);
    --color-bg-secondary: var(--color-bg-secondary-light);
    --color-bg-tertiary: var(--color-bg-tertiary-light);

    --color-bg-black: var(--color-black);
    --color-bg-white: var(--color-white);

    /* ======================================================
    	 	 	 	 	 	 # Shadows
    ======================================================== */

    --shadow-glass-card: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    /* ======================================================
    	 	 	 	 	 	 # Font Families
    ======================================================== */

    --font-inter: "Inter", sans-serif;
    --font-archivo: "Archivo", sans-serif;
    --font-playfair-display: "Playfair Display", serif;

    /* ======================================================
    	 	 	 	 	 	 # Animations
    ======================================================== */
    --animate-gradientBG: gradientBG 15s ease infinite;

    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    /* ======================================================
    	 	 	 	 	 	 # Breakpoints
    ======================================================== */
    --breakpoint-xxs: 480px;
    --breakpoint-xs: 576px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1280px;
    --breakpoint-3xl: 1536px;
    --breakpoint-4xl: 1920px;
    --breakpoint-5xl: 2560px;

}

@layer theme {
    :root {
        --color-accent: var(--color-accent-light) !important;
        --color-accent-content: var(--color-accent-content-light) !important;
        --color-accent-foreground: var(--color-accent-foreground-light) !important;
    }

    .dark {
        --color-accent: var(--color-accent-dark);
        --color-accent-content: var(--color-accent-content-dark);
        --color-accent-foreground: var(--color-accent-foreground-dark);

        --color-text-primary: var(--color-text-primary-dark);
        --color-text-secondary: var(--color-text-secondary-dark);
        --color-text-muted: var(--color-text-muted-dark);

        --color-bg-primary: var(--color-bg-primary-dark);
        --color-bg-secondary: var(--color-bg-secondary-dark);
        --color-bg-tertiary: var(--color-bg-tertiary-dark);

        --color-text-new: var(--color-text-new-dark);
    }
}


@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: var(--color-accent) var(--color-accent-content) !important;
        @apply transition-colors duration-200 ease-in-out text-text-primary font-inter;
    }

    .dark * {
        border-color: var(--color-gray-700, currentColor);
        scrollbar-color: var(--color-accent-dark) var(--color-accent-content-dark) !important;
    }

    /* For Webkit-based browsers (Chrome, Edge, Safari) */
    *::-webkit-scrollbar {
        height: 8px;
        width: 8px;
        background-color: var(--color-accent-content) !important;
    }

    .dark *::-webkit-scrollbar {
        background-color: var(--color-accent-content-dark) !important;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--color-accent) !important;
        border-radius: 9999px !important;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
    }

    .dark *::-webkit-scrollbar-thumb {
        background-color: var(--color-accent-dark) !important;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-accent) !important;
    }

    .dark *::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-accent-dark) !important;
    }

    *::-webkit-scrollbar-corner {
        background: transparent;
    }


    /* Custom scrollbar */
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.5);
    }

    .glass-card {
        @apply backdrop-blur-md bg-linear-to-tr from-zinc-50/10 via-accent/5 to-zinc-50/10 shadow-glass-card;
    }


    .sidebar-glass-card {
        @apply bg-linear-to-tr from-zinc-800/10 via-accent/10 to-zinc-800/10 shadow-glass-card;
    }

    .dark .glass-card,
    .dark .sidebar-glass-card {
        @apply from-zinc-50/5 via-zinc-600/5 to-zinc-50/5;
    }



    .animated-bg {
        @apply bg-size-[400%_400%] animate-gradientBG  bg-linear-to-br from-bg-tertiary via-bg-primary to-bg-secondary;
    }


}

@layer components {
    p {
        font-size: var(--text-base);
        color: var(--color-text-primary);
        font-family: var(--font-inter);
    }

    h1 {
        font-size: var(--text-2xl--line-height);
        font-weight: var(--font-weight-semibold);
        color: var(--color-text-secondary);
        font-family: var(--font-archivo);
    }

    h2 {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semibold);
        color: var(--color-text-secondary);
        font-family: var(--font-archivo);
    }

    h3 {
        font-size: var(--text-lg);
        font-weight: var(--font-weight-semibold);
        color: var(--color-text-secondary);
        font-family: var(--font-archivo);
    }

    h4 {
        font-size: var(--text-base);
        font-weight: var(--font-weight-semibold);
        color: var(--color-text-secondary);
        font-family: var(--font-archivo);
    }

    h5 {
        font-size: var(--text-sm);
        font-weight: var(--font-weight-semibold);
        color: var(--color-text-secondary);
        font-family: var(--font-archivo);
    }

    h6 {
        font-size: var(--text-xs);
        font-weight: var(--font-weight-semibold);
        color: var(--color-text-secondary);
        font-family: var(--font-archivo);
    }
}


[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}